*.WK3
*.PS
*.PFI
*.PO
*.PR
*.PRI
*.IM*
*.IA*
*.rar
.vs
*.log
*.tlog
*.obj
*.pdb
*.idb
*.lib
*.user
*.exe
*.ilk
*.dll
*.enc
*.o
*.d
*.a
/pkg/src/Debug
/pkg/bin
/pkg/lib
/pkg/make/win32/bin
/pkg/make/win32
/pkg/cmake-build-debug
.idea
.vscode
/CI/CMC/target/
/CI/CMC/Setting.xml
/pkg/library/3rdparty/
/pkg/library/platform/
/pkg/library/
/pkg/add-ons
/platform/
/*.si4project/
/cmake-build-debug
/output
CMakeCache.txt
/build/CMakeFiles
/build/pkg
/build_dependence/
