[Unit]
Description=regularly clean up the logs of each module of ograc

[Service]
Type=simple
KillMode=process
ExecStart=/bin/python3 /opt/ograc/common/script/logs_handler/execute.py